@model List<LTWebBanDT.Context.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <nav class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="card card-category">
                        <div class="img-wrap" style="background: #ffd7d7">
                            <img src="~/Content/images/category/@item.Avartar">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a href="~/Category/ProductCategory/@item.Id">@item.Name</a></h4>
                        </div>
                    </div>
                </div> <!-- col.// -->
            }
        </nav> <!-- row.// -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
    <div class="container">

        <p class="pb-2 text-center">Hãy liên hệ và đặt câu hỏi về sản phẩm của chúng tôi để giúp bạn hài lòng hơn</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Email của bạn" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Đăng ký </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text">Chúng tôi sẽ luôn chia sẻ địa chỉ Email của bạn với một sự kiện hấp dẫn. </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
